
<div class='row'>
  <div class='col-md-3'>
    <%= render 'users/info', user: @user %>
  </div>
  <div class='col-md-9'>
      <span>投稿一覧</span>
      <div class='row'>
        <% @supplies.each do |supply| %>
          <div class="col-md-3">
            <%= link_to supply_path(supply) do %>
              <% supply.images.each do |image| %>
              <div class='card user-items'>
                <%= attachment_image_tag image, :supply_image,class:"card-img" %>
              </div>
              <% end %>
             <% end %>
          </div>
       <% end %>
      </div>
  </div>
</div></br>
