<div class='row' style='text-align: center;'>
  <h2>依頼確定しました。物資が到着するまでしばらくお待ち下さい</h2>
</div></br>
<div class='row' style='text-align: center;'>
  <%=link_to '取引を続ける', supplies_path, class:'btn btn-primary' %>
  <%=link_to 'マイページへ', user_path(current_user.id), class:'btn btn-danger' %>
</div>
