<% if current_user.already_liked?(supply) %>
<li>
  <%= link_to supply_like_path(supply), method: :delete, remote: true do %>
    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
  <% end %>
  <%= supply.likes.count %> いいね
</li>
<% else %>
<li>
  <%= link_to supply_likes_path(supply), method: :post, remote: true do %>
    <i class="fa fa-heart-o" aria-hidden="true"></i>
  <% end %>
  <%= supply.likes.count %> いいね
</li>
<% end %>
