

  <div class="row">
    <% @supplies.each do |supply| %>
      <% if supply.sales_status != '売り切れ' %>
      <div class="col-md-3">
        <div class='card home-items'>
            <%= link_to supply_path(supply.id) do %>
              <% supply.images.each do |image| %>
                <%= attachment_image_tag image, :supply_image, :fill, 200, 200, class:"card-img" %>
                <% end %>
            <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <%= paginate @supplies %>
